body{
    height: 100vh;
    color: white;
    background: #22b2da; 
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 200px;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 75px;
    width: 75%;
    padding: 10px; 
    background: #3b4a6b; 
}

.rock, .paper, .scissors{
    width: 200px;
    height: 200px;
}

.choice-container, .score-container, .game-narrator{
    display: flex;
    width: 75%;
    justify-content: space-around;
    font-size: 2rem;
    padding: 10px;
}

.round-container{
    display: flex;
    width: 75%;
    justify-content:space-between;
    font-size: 1.5rem;
    padding: 10px;
    background: #3b4a6b; 
    border-radius: 50px 50px 0px 0px;
}
.round{
    margin-right: 15px;
}

.reset{
    margin:15px;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 25px;
    padding: 15px;
    background: #22b2da; 
    color: white;
}

.computer, .player{
    flex:1;
    justify-content: center;
    gap: 10px;
    display: flex;
}

.choice-container, .score-container{
    background: #3b4a6b; 

}

.score-container{
    border-radius: 0px 0px 50px 50px;
}
