*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: white;
    background: #22b2da; 
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 200px;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 3rem;
    width: 65%;
    padding: 10px; 
    background: #3b4a6b;
    overflow: auto;

}

.rock, .paper, .scissors{
    width: 200px;
    height: 200px;
    transition: 200ms;
    max-width: 100%;
}

.rock:hover, .paper:hover, .scissors:hover, .reset:hover{
    transform:translateY(-10px);
}

.choice-container, .score-container, .game-narrator{
    display: flex;
    width: 65%;
    justify-content: space-around;
    font-size: 2rem;
    padding: 10px;
}

.round-container{
    display: flex;
    width: 65%;
    justify-content:space-between;
    font-size: 1.5rem;
    padding: 10px;
    background: #3b4a6b; 
    border-radius: 50px 50px 0px 0px;
}
.round{
    margin-right: 15px;
}

.reset{
    margin:15px;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 25px;
    padding: 15px;
    background: #22b2da; 
    color: white;
    transition: 200ms;
}

.computer, .player{
    flex:1;
    justify-content: center;
    gap: 10px;
    display: flex;
}

.choice-container, .score-container{
    background: #3b4a6b; 

}

.score-container{
    border-radius: 0px 0px 50px 50px;
}

@media only screen and (max-width: 600px){
    .rock, .paper, .scissors{
        width: 100px;
        height: 100px;
        max-width: 100%;
    }

    #button-container{
        flex-wrap: wrap;
        transition: 200ms;
        width: 75%;
        height: 
    }

    .choice-container, .score-container, .game-narrator{
        display: flex;
        width: 75%;
        justify-content: space-around;
        font-size: 1.5rem;
        padding: 5px;
        flex-wrap: wrap;
    }
    .round-container{
        width: 75%;
    }

    .reset{
        margin:5px;
        font-size: 1rem;
        padding: 3px;
        padding: 5px;
        transition: 200ms;
    }
    .rock:hover, .paper:hover, .scissors:hover, .reset:hover{
        transform:translateY(-10px);
    }

    .game-narrator{
        text-align: center;
    }
    
    #container{
     padding-top: 100px;
    }
    


}
